<mat-nav-list class="nav-list-horizontal">
    <mat-list-item [routerLink]="['/home']" routerLinkActive="active">
        <h4 translate mat-line>TopNavigation.Home</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['/cfp']" routerLinkActive="active">
        <h4 translate mat-line>TopNavigation.CFP</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['/about']" routerLinkActive="active">
        <h4 translate mat-line>TopNavigation.About</h4>
    </mat-list-item>
    <mat-list-item [routerLink]="['/contact']" routerLinkActive="active">
        <h4 translate mat-line>TopNavigation.Contact</h4>
    </mat-list-item>
</mat-nav-list>
