@import 'variables.scss';

/*
Media Queries :
320px.
480px.
600px.
768px.
900px.
1024px.
1200px.
1600px.
*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
}

.page-content {
    padding: 1rem;
}

.full-width {
    width: 100%;
}

.contact-page {
    .contact-page-header {
    }
    .contact-form-container {
    }
}

@media only screen and (min-width: 1200px) {
    .contact-page {
        width: 50%;
        margin: auto;
        .contact-page-header {
        }
        .contact-form-container {
        }
    }
}
