<mat-card>
    <mat-card-header>Added 11-02-2020, End in 38 days</mat-card-header>
    <mat-card-content>
        <div class="event-card-content">
            <div class="event-card-content-image">
                <img
                    src="https://sessionize.com/image?f=ed1ca88519f7cf57248543d70d7ae10d,1140,400,0,1,ad-b1b9-4216-b1bf-eb9119e747bc.2420196b-b393-47c8-a19a-5c0ecdb8cf2d.png"
                />
            </div>
            <div class="event-card-content-details">
                <div class="event-card-content-title">
                    This is a dummy
                </div>
                <div class="event-card-content-location">
                    Nieuwegein, The Netherlands
                </div>
                <div class="event-card-content-description">
                    This is the best event ever, we only host the best events
                    ever, so we have the best food, the best speakers, the best
                    attendees, the best food and the best drinks... So if you
                    like, join simply the best
                </div>
                <div class="event-card-content-tags">
                    <div class="event-tag">Cloud</div>
                    <div class="event-tag">Azure</div>
                    <div class="event-tag">Cool</div>
                    <div class="event-tag">The Best</div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Go to CFP</button>
        <button mat-button>Go to Event</button>
    </mat-card-actions>
</mat-card>
