<div class="home-page-summary">
    <div class="summary-container">
        <div class="summary-latest">
            <div class="summary-type"><h4>Latest</h4></div>
            <div class="summary-cfp">
                <app-cfp-small-tile></app-cfp-small-tile>
            </div>
        </div>
        <div class="summary-most-viewed">
            <div class="summary-type"><h4>Most viewed</h4></div>
            <div class="summary-cfp">
                <app-cfp-small-tile></app-cfp-small-tile>
            </div>
        </div>
        <div class="summary-random">
            <div class="summary-type"><h4>Random</h4></div>
            <div class="summary-cfp">
                <app-cfp-small-tile></app-cfp-small-tile>
            </div>
        </div>
    </div>
</div>
<div class="home-page-search">
    <div class="search-bar-container"></div>
</div>
<div class="almost-closing-overview">
    <div class="almost-closing-container">
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
        <div class="almost-closing-cfp">
            <app-cfp-vertical-tile></app-cfp-vertical-tile>
        </div>
    </div>
</div>
